<html>

<head>
  <link rel="shortcut icon" href="https://lh4.googleusercontent.com/-EMBGhoHdLTo/UA4m1mKVqnI/AAAAAAAAAEs/ovhdufOn4dw/s86/yk+icon.jpg" />
  <title>YK studio</title>

  <%= stylesheet_link_tag "nivo-slider" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.nivo.slider.pack" %>

  <script type="text/javascript">                                         
    $(window).load(function() {
      $('#slider').nivoSlider({
        effect: 'fade', // Specify sets like: 'fold,fade,sliceDown'
        animSpeed: 700, // Slide transition speed
        pauseTime: 5000, // How long each slide will show
        directionNavHide: true, // Only show on hover
        controlNav: false, // 1,2,3... navigation
        controlNavThumbs: false, // Use thumbnails for Control Nav
        pauseOnHover: false, // Stop animation while hovering
        manualAdvance: false, // Force manual transitions
        prevText: '', // Prev directionNav text
        nextText: '', // Next directionNav text
        randomStart: true, // Start on a random slide
      });
    });
  </script>

  
  <style type="text/css">
    #menu { 
      font-family: "helvetica"; 
      font-size: 9pt;
      color: #464646; 
      vertical-align: bottom;
    }
        
  	#menu span:hover {
      color: white;
      background-color: #464646;
      cursor: pointer;
    }

    #photo_block {
      background-image: url(https://lh4.googleusercontent.com/-DC5XA4sUDQg/UA4qT33y2nI/AAAAAAAAAFc/B17Iv3rLRQU/s903/background.jpg); 
      background-repeat: no-repeat; 
      background-position: center;
    }
        
    h3 {
      font-family: "helvetica";
      color: #464646; 
      font-size: 9pt; 
    }
      
    .news_block {
      padding-left: 20px;
      vertical-align: top;
    }

    .news_block img:hover { 
      cursor: pointer;
    } 

    .content {
      font-family: "arial"; 
      color: #464646;
      font-size: 7pt; 
    }
        
    .content span {
      color: blue;
      text-decoration: underline;
    }
        
    .content span:hover {
      cursor: pointer;
    }
        
    social {
      float: right;
    }
        
    social img {
  	  filter: gray; /* IE6-9 */ 
      -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */ 
    }
        
    social img:hover { 
      filter: none; 
      -webkit-filter: grayscale(0); 
      cursor: pointer;
  	} 
        
    footer {
      font-family: "arial"; 
      color: #464646;
      font-size: 5pt; 
    }
       
    .nivoSlider {
	  position:relative;
	  background:url(images/loading.gif) no-repeat 50% 50%;
	}
	
	.nivoSlider img {
	  position:absolute;
	  top:0px;
	  left:0px;
	  display:none;
	}
	
	.nivoSlider a {
	  border:0;
	  display:block;
	}
		
	.slider-wrapper {
	  display: inline-block; 
	  height: 360px;
	  width: auto;
	  box-shadow: 8px 8px 5px #333;
	}
  </style> 
        
</head>

<body>

<table width="800px" align="center">
  <tr><td>
    <table width="100%">
          <tr>
            <td width="250px"><img src="https://lh3.googleusercontent.com/-nCoikDHYclA/UA4m1icI4wI/AAAAAAAAAEw/8Tno3zJDKOE/s345/yk+logo-small.jpg" width="200px" /></td>
                <td id="menu" align="right">
                <span>&nbsp;ABOUT YK&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>&nbsp;WEDDINGS&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>&nbsp;PORTRAITS&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>&nbsp;TRAVEL&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>&nbsp;PRICING&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>&nbsp;CONTACT&nbsp;</span>
                </td>
          </tr>
        </table>
        <br>
  </td></tr>
  
  <tr><td id="photo_block" align="center" height="400px">
	<div class="slider-wrapper">
	    <div id="slider" class="nivoSlider">
	      <img src="https://lh5.googleusercontent.com/-HWbW5IqWPDM/UA8LVw45ntI/AAAAAAAAAGw/oftYNDi6HK8/s540/linda_james_s.jpg" height=360px alt="" />
	      <img src="https://lh6.googleusercontent.com/-cWO3qMSW7IM/UA8LWCA9n_I/AAAAAAAAAG0/qCpLvQAx8Yc/s540/photo_2.jpg" height=360px alt="" />
	      <img src="https://lh4.googleusercontent.com/-_65HZWQyLfA/UA8LWfyYhoI/AAAAAAAAAG8/XgWZQ5iHaAs/s540/photo_3.jpg" height=360px alt="" />
          <img src="https://lh3.googleusercontent.com/-g3A0QDVIyI0/UA8LWhnALvI/AAAAAAAAAHA/dmxIDw4EA9M/s540/photo_4.jpg" height=360px alt="" />
          <img src="https://lh3.googleusercontent.com/-XJB757r5uTQ/UA8LW6FPieI/AAAAAAAAAHI/1nglTQVG8oM/s540/photo_5.jpg" height=360px alt="" />
	    </div>
	</div>

  </td></tr>

  <tr><td>
    <br>
    <table>
          <tr>
            <td class="news_block" width="400px">
                  <h3>RECENT POSTS</h3>
                  <table width="380px">
                    <tr align="center">
                          <td><img src="https://lh5.googleusercontent.com/-4x2dTdmiylE/UA4qUoCvTsI/AAAAAAAAAF0/CQxxVwdF0uI/s252/sunset_s.jpg" width="100px"/></td>
                          <td><img src="https://lh5.googleusercontent.com/-DMGFCnm_Me8/UA4qUmN226I/AAAAAAAAAFs/K_SXEXtYmzI/s251/linda_s.jpg" width="100px"/></td>
                          <td><img src="https://lh3.googleusercontent.com/-8UYNePGzc2k/UA4qT1gaoqI/AAAAAAAAAFY/GtQAwSMSaTY/s252/ethan_s.jpg" width="100px"/></td>
                        </tr>
                    <tr align="center">
                          <td class="content">CA I-5<br>travel</td>
                          <td class="content">Linda + James<br>weddings</td>
                          <td class="content">Ethan<br>kids</td>
                        </tr>
                  </table>
                </td>
                <td class="news_block" width="400px">
                  <h3>NEWS</h3>
                  <p class="content" style="padding-left:15px">
                  2012.07.22 &nbsp; We moved to bay area California...<span>(read more)</span><br>
                  2012.03.18 &nbsp; Linda and James' Wedding @TW...<span>(read more)</span><br>
                  2011.06.22 &nbsp; Ethan's play date...<span>(read more)</span><br>
                  </p>
                </td>
          </tr>
        </table>
  </td></tr>

  <tr><td bgcolor="#777" height="3px">
  </td></tr>

  <tr><td>
    <social>
          <img src="https://lh5.googleusercontent.com/-7iZdaS7J144/UA4oBTmEtBI/AAAAAAAAAFA/Jnrdg6xWbaI/s140/fb_icon.jpg" width="23px"/>
          <img src="https://lh3.googleusercontent.com/-6GK92k7FpCA/UA4oBUx-9hI/AAAAAAAAAFM/cd0wDYUQFUM/s140/tw_icon.jpg" width="23px"/>
          <img src="https://lh4.googleusercontent.com/-dM1J8PaMSsM/UA4oBYBmtMI/AAAAAAAAAFE/Su3zSsDMLHI/s141/in_icon.jpg" width="23px"/>
        </social>
        <br>
        <footer>&copy; 2012 YK STUDIO</footer>
  </td></tr>

</table>

</body>
</html>