<html>
<head>
  <title>YK Studio</title>
  <style type="text/css">
  html { 
	background: url("https://sphotos.xx.fbcdn.net/hphotos-ash4/424824_10150602615266363_386395035_n.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

  body { margin: 0px 0px 0px 0px; }
  
  logo { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
	position: fixed;
	top: 3%;
	left: 4%;
  }
  
  menu { 
    color: white; 
    font: 24px/45px Helvetica, Sans-Serif; 
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
	position: fixed;
	top: 80%;
  }

  </style>
</head>

<body>
	
  <logo>YK Studio</logo>
  <menu>
  	<table width="100%">
	  <tr align="center">
		<td>about</td>
		<td>cases</td>
		<td>fee</td>
		<td>contact</td>
	  </tr>
	</table>
  </menu>

</body>
</html>